.body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-flow: column;
  row-gap: 10px;
  font-family: 'Silkscreen', cursive;
  background-color: rgb(17, 0, 33);
  color: white;
  margin: 0;
  padding: 40px 20px 20vh;
  box-sizing: border-box;
  background: url('./assets/bckgr.png');
  background-position: 50% 50%;
  background-size: cover;
}

.message {
  font-size: 32px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

.message.js--win {
  color: green;
}
.message.js--lose {
  color: red;
}
.message.js--draw {
  color: yellow;
}

.name {
  font-size: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.clients {
  font-size: 14px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  opacity: .8;
}

.score {
  font-size: 32px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  opacity: .8;
}

.buttons {
  display: flex;
  column-gap: 30px;
}

.btn {
  width: 90px;
  height: 90px;
  border-radius: 500px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background-position: 50% 50%;
  background-size: cover;
}
.btn--1 {
  background: url('./assets/paper.png');
  background-position: 50% 50%;
  background-size: cover;
}
.btn--2 {
  background: url('./assets/scissors.png');
  background-position: 50% 50%;
  background-size: cover;
}
.btn--3 {
  background: url('./assets/stone.png');
  background-position: 50% 50%;
  background-size: cover;
}

.btn.js--selected {
  outline: 5px solid goldenrod;
}

.btn:hover {
  background-color: goldenrod;
  color: white;
}